[buildout]
develop = .
parts = script test

[script]
recipe = zc.recipe.egg
eggs = captionstransformer

[test]
recipe = zc.recipe.testrunner
defaults = ['-s', 'captionstransformer', '--auto-color', '--auto-progress']
eggs =
    captionstransformer [test]
